<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="SessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/medu</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="com.sickle.pojo.edu.Classes" resource="com/sickle/pojo/edu/Classes.hbm.xml"/>
  <mapping class="com.sickle.pojo.edu.Org" resource="com/sickle/pojo/edu/Org.hbm.xml"/>
  <mapping class="com.sickle.pojo.edu.School" resource="com/sickle/pojo/edu/School.hbm.xml"/>
  <mapping class="com.sickle.pojo.edu.Student" resource="com/sickle/pojo/edu/Student.hbm.xml"/>
  <mapping class="com.sickle.pojo.edu.Teacher" resource="com/sickle/pojo/edu/Teacher.hbm.xml"/>
  <mapping class="com.sickle.pojo.website.WebUi" resource="com/sickle/pojo/website/WebUi.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
